@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    display: flex;
    font-family: 'Roboto';
}

.left {
    border: 1px solid black;
    width: 21%;
    display: flex;
    flex-direction: column;
    gap: 40px;
    justify-content: flex-start;
    padding: 20px;
    background-color:rgb(35, 165, 208);
    color: white;
}

.right {
    border: 1px solid black;
    width: 79%;
}

.first-div {
    display: flex;
    align-items: center;
    gap: 10px;
}

ul {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    display: flex;
    align-items: center;
    gap: 20px;
    color: white;
}

a:hover {
    color: crimson;
}